{
  "parserOpts": {
    // Allow returns in the module
    "allowReturnOutsideFunction": true
  },

  "env": {
    "cjs": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-decorators-legacy",
        "transform-flow-strip-types",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-exponentiation-operator",
        "transform-async-to-generator",
        "syntax-trailing-function-commas"
      ]
    },

    "es5": {
      "presets": [
        "es2015"
      ]
    },

    "all": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-flow-strip-types",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-exponentiation-operator",
        "transform-async-to-generator",
        "syntax-trailing-function-commas"
      ]
    },

    "ava": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-flow-strip-types",
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-exponentiation-operator",
        "transform-async-to-generator",
        "syntax-trailing-function-commas"
      ]
    }
  }
}
